@charset "utf-8";

/* -------------------------------------------------------------- */
/* layout
/* -------------------------------------------------------------- */
.l-container {
  width: 100%;
  max-width: 1000px;
  margin: 0 auto;
}
.l-header {
}
.l-footer {
}
.l-main {
}
.l-primary {}
.l-sidebar {}
