@charset "utf-8";

//***********************
// color
//***********************
$colorBase: #333333;
$colorLink: #999999;
$colorLinkHover: lighten($colorLink, 15%);
$colorTitle: #777777;
$colorTitleBkg: #f5f5f4;
$colorSelection: $colorLink;

//***********************
// typography
//***********************
$letterSpace: 0.1px;
$lineHeight: 2.15;

//***********************
// styles
//***********************
$radius2: 2px;
$radius4: 4px;

//*********************** 
// path
//***********************
$filePath: "dist/img/";
$filePath: "http://example.com/dist/img";

//***********************
// font-family
//***********************
// Open Sans & Yu Gothic or Meirio
// add this code to your website:
// <link href='http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,400,300,600,700' rel='stylesheet' type='text/css'>
$fontFamily: 'Open Sans', "游ゴシック体", "Yu Gothic,", YuGothic "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;
// Latin Font
$fontFamilyEn: 'Open Sans',Sans-Serif;
// code
$fontFamilyCode: Consolas,Courier,sans-serif;

//***********************
// block size
//***********************
// $containerWidth: ;
$maxWidth: 960px;

//***********************
// navigation size
//***********************
// $menuItemWidth     : ;
// $menuItemHeight    : ;
// $menuHeight        : ;
// $menuPadding       : ($menuHeight - $menuItemHeight) / 2; // Calclate padding size automatically