@charset "utf-8";

//----------------------------------------------------------------------------*/
// Color
//----------------------------------------------------------------------------*/
// primary
$colorBase          : #333333;
$colorSub           : #555555;
$colorLink          : #24279f;
$colorLinkHover     : lighten($colorLink, 15%);
$colorSelection     : $colorLink;

//----------------------------------------------------------------------------*/
// Path
//----------------------------------------------------------------------------*/
$filePath           : "../images/";

//----------------------------------------------------------------------------*/
// Typography
//----------------------------------------------------------------------------*/
// primary
$fontFamily         : "Helvetica Neue", "Helvetica", "游ゴシック体", "Yu Gothic", "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, "ＭＳ Ｐゴシック","MS PGothic",Arial,Sans-Serif;
// En
$fontFamilyEn       : "Helvetica Neue", "Helvetica",Sans-Serif;
// code
$fontFamilyCode     : Menlo,Consolas,Courier,sans-serif;

//----------------------------------------------------------------------------*/
// Styles
//----------------------------------------------------------------------------*/
$baseRadius: 4px;

//----------------------------------------------------------------------------*/
// Block size
//----------------------------------------------------------------------------*/
// $containerWidth: ;
$maxWidth           : 1200px;

//----------------------------------------------------------------------------*/
// Navigation size
//----------------------------------------------------------------------------*/
// $headerHeight      : ;
// $menuHeight        : $headerHeight;
// $menuItemWidth     : ;
// $menuItemHeight    : ;
// $menuPadding       : ($menuHeight - $menuItemHeight) / 2; // Calclate padding size automatically
