include inc/core/_config
include inc/core/_mixins
extends inc/core/_base
block title
  title= page.top.title
block prepend meta
  - var sitename = name
  - var keywords = page.top.keywords
  - var description = page.top.description
  - var ogpimage = page.top.ogpimage
  - var bodyClass = 'home'
block append meta
block body
  .l-container
    include inc/layout/_l-header
    .l-main
      h1 Hello World!
      .btnTw
        span Twitter
        svg(class="btnTw__icon" viewBox="0 0 14 12" role="img" labelledby="title")
          use(xlink:href="images/sprite-svg/sprite.symbol.svg#iconTw")
      .btnFb
        span Facebook
        svg(class="iconFb__icon" viewBox="0 0 272 560" role="img" labelledby="title")
          use(xlink:href="images/sprite-svg/sprite.symbol.svg#iconFb")
    include inc/layout/_l-footer
block append scriptFooter
