include inc/core/_config
include inc/core/_mixins
extends inc/core/_base
block title
  title= page.top.title
block prepend meta
  - var sitename = name
  - var keywords = page.top.keywords
  - var description = page.top.description
  - var ogpimage = page.top.ogpimage
  - var bodyClass = 'home'
block append meta
block body
  .l-container
    include inc/layouts/_header
    h1 Hello World.
    button#start scroll start point
    - for (var i = 0; i < 7; i++)
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc congue, felis at condimentum bibendum, sapien felis commodo libero, interdum rhoncus felis sem nec nisi. Ut purus erat, pretium sed pulvinar vehicula, egestas sit amet nisi. Fusce ac iaculis felis. In ultrices diam quis elementum pellentesque. Donec id libero efficitur, ornare ex ac, tempor elit. Morbi congue sapien in turpis rutrum, nec volutpat nibh placerat. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Morbi tincidunt sed ante at tincidunt. Morbi malesuada sed dolor eu dignissim. Cras fermentum bibendum velit, sit amet congue dui ultrices vulputate. Donec at libero ut arcu commodo venenatis. Nullam ac arcu hendrerit, vestibulum tortor a, lacinia arcu. Curabitur nunc nisi, hendrerit et semper id, tempor id felis. Maecenas ipsum nisl, sagittis et placerat a, bibendum non arcu.
      p Fusce sit amet tempus dolor. Morbi sed vulputate sem. Sed consectetur felis nec diam euismod dignissim. Nullam a scelerisque velit. Morbi cursus gravida ex, id blandit leo euismod sit amet. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Cras in metus dolor. Sed blandit orci at felis facilisis, sed mattis risus bibendum. Duis quis justo iaculis, rhoncus orci sed, eleifend eros. Suspendisse elementum lorem eget ullamcorper vestibulum. Suspendisse porttitor nec neque vitae congue. Donec ornare neque at risus efficitur gravida non quis elit. Aliquam ornare est sapien, a elementum risus varius in. Curabitur vulputate purus sit amet elit consectetur faucibus a accumsan turpis. Maecenas euismod metus nec ex egestas, nec molestie mauris scelerisque.
      p Ut mattis massa sit amet velit condimentum tempor. Sed libero mi, tristique ut vehicula finibus, cursus in turpis. Praesent pharetra neque non metus mollis condimentum. Sed nec velit turpis. Nullam ornare tortor maximus dui feugiat convallis. Sed et ornare dui. Aenean vel venenatis augue. Praesent commodo auctor risus vel sodales. Nulla fermentum semper felis eget varius. Integer vitae ultrices neque, id condimentum orci. Nulla eu interdum turpis. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Maecenas dictum commodo est, at hendrerit ipsum. Nullam viverra tincidunt mollis.
    p#end scroll endpoint
    include inc/layouts/_footer
block append scriptFooter
